@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:#91C4D3">
    <h1>Assignment 4 with custom database</h1>
    <p class="lead">Security-aware and claims-based web app, with persistent store and our own defined design models.</p>
    <p><a href="https://learn-us-east-1-prod-fleet01-xythos.s3.us-east-1.amazonaws.com/5c082fb7a0cdb/13693676?response-content-disposition=inline%3B%20filename%2A%3DUTF-8%27%27Assignment%25204.pdf&response-content-type=application%2Fpdf&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200406T002725Z&X-Amz-SignedHeaders=host&X-Amz-Expires=21600&X-Amz-Credential=AKIAZH6WM4PLTYPZRQMY%2F20200406%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=6fd09566e31b7902d55a3048cd385398eb563530409085555e6305b5eb74e2e1" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>About</h2>
        <p>Includes security-aware features that we have covered recently.</p>
        <p>Role claims are defined by a design model class, and initialized during the "load data" task.</p>
        <p>This template also includes graceful error-handling. </p>
    </div>
    <div class="col-md-6">
        <h2>Features</h2>
        <p>
            New design model classes of this web application:
            • Artist
            • Album
            • Track
            • Genre
        </p>
    </div>
</div>