@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>WEB524 - Winter 2020</h3>
<h4>Author - Margarita Selenko</h4>

<p>The main goal was ccreating ASP.NET application that allows to store, add new and view details of employees.</p>
<p>Application contains 3 controllers: Home (which is used to display home, contact and about pages), Employee (which is used to display the list of employees and details pages) and Manager (which contains basic methods for two previous controllers).</p>
