@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 1</h1>
    <p class="lead">Milestone 1. This web app implements some common interaction patterns with the use of a persistent store. 
                    It will focus on enabling the “get all”, “get one” and “add new” use cases for Employee objects</p>
    <p><a href="https://learn-us-east-1-prod-fleet01-xythos.s3.us-east-1.amazonaws.com/5c082fb7a0cdb/12814178?response-content-disposition=inline%3B%20filename%2A%3DUTF-8%27%27Assignment%25201%2520-%2520Milestone%25201.pdf&response-content-type=application%2Fpdf&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200124T040026Z&X-Amz-SignedHeaders=host&X-Amz-Expires=21600&X-Amz-Credential=AKIAZH6WM4PLTYPZRQMY%2F20200124%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=f21e5354f7857b77c7d0a190481ecdf1d6af1f40b2bc81a20dc8685721786c34" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Web App Details</h2>
        <p>
            The first Web Assignment is devided into the 3 milestones. Each of them provides different functionalities.
            Yhe first milestone goal is focused on becoming familiar with basic ASP.NET concepts. 
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Web App Functionalities</h2>
        <p>Web Application implements the most common methods with the help of design model and view model mapping. All the functionalities are located in the Manager class.</p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/aspnet/?view=aspnetcore-3.1#pivot=core">Learn more &raquo;</a></p>
    </div>
</div>