@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:#91C4D3">
    <h1>Assignment 5</h1>
    <p class="lead">Music business, with rich text editing, and media items. Enables work with Artist,Album and Track data</p>
    <p><a href="https://learn-us-east-1-prod-fleet01-xythos.s3.us-east-1.amazonaws.com/5c082fb7a0cdb/13713267?response-content-disposition=inline%3B%20filename%2A%3DUTF-8%27%27Assignment%25205.pdf&response-content-type=application%2Fpdf&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200416T183411Z&X-Amz-SignedHeaders=host&X-Amz-Expires=21600&X-Amz-Credential=AKIAZH6WM4PLTYPZRQMY%2F20200416%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=104c85c9cf6085ce282e940f9e09245c4408dbda20ea597671f7923e9a18e0e5" target="_blank" class="btn btn-primary btn-lg">More information</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>About this Application</h2>
        <p>
            This web app enables a user to do music business tasks.
        </p>
        <p>
            In a record company, different kinds of employees can work with data for artists, albums, and tracks.
        </p>
    </div>

    <div class="col-md-6">
        <h2>Features</h2>
        <p>Role claims are saved in the data store.</p>
        <p>Rich text editing is supported, for artists and albums.</p>
        <p>Sound clips can be saved with each track.</p>
        <p>A media gallery can be created for an artist.</p>
    </div>
 </div>