@{
    ViewBag.Title = "Contact";
}
<h2 style="background-color:#91C4D3"> @ViewBag.Title</h2>
<h3>HAVE SOME QUESTIONS?</h3>
<p>Don't hesitate to use this contact whether you have a question about web app features, functionalities or anything else.</p>
<br />
<br />


<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Contact Author: </strong>   <a href="mailto:mselenko@myseneca.ca">mselenko@myseneca.ca</a><br />
</address>