@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:#91C4D3">
<h1>ASP.NET</h1>
<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
<p><a href="http://mselenko-wa2020a3.azurewebsites.net" class="btn btn-primary btn-lg">Assignment 3 on Azure</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Web App Details</h2>
        <p>
            The third Web Assignment is devided into the 2 milestones. Each of them provides different functionalities.
            The first milestone goal is focused on becoming familiar with the fundamentals of cloud computing using the
            Microsoft Azure platform.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Web App Functionalities</h2>
        <p>
            The main purpose of milestone one is to set up an Azure account, create and deploy a web server, database server, and
            SQL databases using the Azure Portal.
        </p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/aspnet/?view=aspnetcore-3.1#pivot=core">Learn more &raquo;</a></p>
    </div>
</div>